<header>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="../../assets/profectus.png" alt="Logo" class="img-fluid" style="max-width: 60px;">
      </a>
      <span class="navbar-text font-weight-bold" style="font-size: 1.5rem;">Profectus RH</span>
      <form class="d-flex ml-auto">      
      </form>
    </div>
  </nav>
</header>

<main class="menu text-center mt-4">
  <a href="/pages/employees" class="btn btn-light">Gestion des employés</a>
  <span class="mx-2"></span> <!-- Espace entre les boutons -->
  <a href="/pages/departements" class="btn btn-light">Gestion des départements</a>
</main>
