<form [formGroup]="departForm" (ngSubmit)="submit()" class="custom-form">
    <h4 class="text-center mb-4">Ajouter un Nouveau Département</h4>
    <div class="form-group">
        <label for="departement">Nom du département</label>
        <input
            [ngClass]="{'is-invalid': submitted && f['departementName'].errors}"
            formControlName="departementName"
            type="text"
            id="department"
            class="form-control"
            placeholder="Saisissez le nom du département"
        >
        <div *ngIf="submitted && f['departementName'].errors" class="invalid-feedback">
            <i>Le nom du département est obligatoire</i>
        </div>
    </div>
    <button class="btn btn-success mt-3 btn-sm custom-button" style="width: 50%;">Ajouter</button>
</form>
