<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Téléphone</th>
            <th>Département</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let e of listEmployees">
            <td>{{ e.id }}</td>
            <td>{{ e.employeeFirstName }}</td>
            <td>{{ e.employeeLastName }}</td>
            <td>{{ e.employeePhone }}</td>
            <td>{{ e.departement.departementName }}</td>
            <td>
                <div class="btn-group" role="group">
                    <button (click)="onUpdate(e)" class="btn btn-sm btn-info">Modifier</button>
                    <button (click)="onDelete(e.id)" class="btn btn-sm btn-danger">Supprimer</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<pagination-controls 
    previousLabel="Precedent"
    nextLabel="Suivant"
    [responsive]="true"
    (pageChange)="handlePageChange($event)"
>
</pagination-controls>

<ul>
    <li 
     class="list-group-item"
    *ngFor="let e of listEmployees | paginate: {
        itemsPerPage:PAGESIZE,
        currentPage:PAGE,
        totalItems:count
        } ; let i = index" 
        [class.active] = "i === CURRENTINDEX"
    >
    </li>
</ul>