/* Espacement du tableau et coins arrondis */
.table {
    border: 1px solid #e0e0e0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
   
    border-radius: 5px; /* Coins arrondis */
}

/* Boutons avec transition et couleur de texte personnalisée */
.btn-outline-info:hover,
.btn-outline-info:focus {
    background-color: #17a2b8;
    color: white;
    transition: background-color 0.2s ease-in-out; /* Transition en douceur */
}

.btn-outline-danger:hover,
.btn-outline-danger:focus {
    background-color: #dc3545;
    color: white;
    transition: background-color 0.2s ease-in-out; /* Transition en douceur */
}

/* Ajout d'une bordure inférieure aux en-têtes */
.table thead th {
    border-bottom: 2px solid #dee2e6;
}

/* Surlignement en douceur de la ligne sélectionnée */
.list-group-item.active {
    background-color: #f0f0f0;
    transition: background-color 0.2s ease-in-out; /* Transition en douceur */
}
