.gradient-custom-2 {
   /* Fallback for old browsers */
   background: #fcfcfc; /* Bleu */

   /* Chrome 10-25, Safari 5.1-6 */
   background: -webkit-linear-gradient(to right, #5896dd, #578257	); /* Bleu vers Vert */
 
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   background: linear-gradient(to right,  #5896dd, #578257	); /* Bleu vers Vert *
}
/* Ajoutez ces styles à votre feuille de style CSS */
}
.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}


@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
  .spacer {
    margin-right: 10px; /* Ajustez la valeur selon l'espace désiré */
  }
  .facebook-icon,
  .globe-icon {
    color: #fff;
  }
}

/* Styles pour uniformiser les éléments du formulaire */
.card-body {
  text-align: center;
  padding: 2rem; /* Espace autour du contenu */
}

h3 {
  font-size: 24px; /* Taille du titre */
  margin-bottom: 2rem; /* Marge en bas du titre */
}

.form-outline {
  margin-bottom: 1.5rem; /* Marge entre les champs de formulaire */
}

.form-label {
  font-weight: bold; /* Police en gras pour les étiquettes */
}

.form-control {
  border: 1px solid #ccc; /* Bordure du champ de formulaire */
  border-radius: 5px; /* Coins arrondis */
  padding: 0.5rem 1rem; /* Espace à l'intérieur du champ */
  width: 100%; /* Largeur du champ de formulaire à 100% */
}

.btn-primary {
  background-color: #007bff; /* Couleur de fond du bouton */
  color: #fff; /* Couleur du texte du bouton */
  border: none; /* Supprimer la bordure du bouton */
  border-radius: 5px; /* Coins arrondis du bouton */
  padding: 0.5rem 1rem; /* Espace à l'intérieur du bouton */
  cursor: pointer; /* Curseur de type main pour le bouton */
}

/* Styles pour le message de confirmation */
.confirmation-message {
  color: green;
  font-size: 20px;
  margin-top: 1.5rem;
}

/* Styles pour le lien de retour vers la page de connexion */
.back-to-login {
  margin-top: 3rem; /* Marge en haut de l'ensemble back-to-login */
}

.back-to-login p {
  margin-bottom: 0.5rem; /* Marge en bas du paragraphe (message) */
}

.back-to-login button {
  margin-top: 0.5rem; /* Marge en haut du bouton */
}

/* Styles pour le bouton "Login page" */
.btn-outline-danger {
  border: 1px solid #ffffff; /* Bordure du bouton */
  color: #c7c3c4; /* Couleur du texte du bouton */
  border-radius: 8px; /* Coins arrondis du bouton */
  padding: 0.5rem 1rem; /* Espace à l'intérieur du bouton */
  
}
