<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <!-- Titre du formulaire -->
                <h3 class="mb-4">Forgot Password</h3>
                <!-- Formulaire -->
                <form [formGroup]="Form">
                  <div class="form-outline mb-4">
                    <!-- Label et champ d'e-mail -->
                    <label class="form-label" for="form2Example11">Email Address</label>
                    <input type="email" class="form-control" placeholder="Email address" formControlName="email" />
                  </div>
                  <div class="d-flex justify-content-center">
                    <!-- Bouton "Send" -->
                    <button type="button" class="btn btn-primary" [disabled]="!Form.valid" (click)="forgotPss()">Send</button>
                  </div>
                </form>
                <!-- Message de confirmation -->
                <div class="confirmation-message">
                  <p class="mb-0">{{ message }}</p>
                </div>
                <!-- Lien de retour vers la page de connexion -->
                <div class="back-to-login">
                 
                  <button type="button" class="btn btn-outline-danger ms-3" routerLink="/">Login page</button>
                </div>
              </div>
              
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4 text-center">
                <div class="mb-4 center-text">
                  <img src="assets/profectus.png" alt="Logo" style="max-width: 100%;" />
                </div>  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="social-media-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h5>Restez connecté avec nous :</h5>
        <ul class="social-media-links">
          <li><a href="https://www.facebook.com/sonede.officiel" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="https://www.sonede.com.tn/" target="_blank"><i class="fas fa-globe"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
