<div class="grid">
  <p-toast></p-toast>

  <p-tabView>
    <!-- Onglet Profil utilisateur -->
    <p-tabPanel header="Profile Information">
      <div class="col-6">
        <div class="card profile-card">
          <div class="profile-info">
            <div class="profile-field">
              <div class="field-label">Username</div>
              <div class="field-value">{{ principal.nomUser }}</div>
            </div>
            <div class="profile-field">
              <div class="field-label">Email Address</div>
              <div class="field-value">{{ principal.emailUser }}</div>
            </div>
            <div class="profile-field">
              <div class="field-label">Phone Number</div>
              <div class="field-value">{{ principal.numdetelUser }}</div>
            </div>
            <div class="profile-field">
              <div class="field-label">Role</div>
              <div class="field-value">{{ principal.role }}</div>
            </div>
            <div class="profile-edit-button">
              <button pButton pRipple label="Edit Profile" (click)="editProfileD=true"></button>
            </div>
          </div>
        </div>
        <!-- Dialogue de modification de profil -->
        <p-dialog [(visible)]="editProfileD" [style]="{ width: '450px' }" header="Edit Profile" [closable]="false" [modal]="true" class="p-fluid">
          <ng-template pTemplate="content">
            <div class="field">
              <label>Username:</label>
              <input type="text" pInputText [(ngModel)]="principal.nomUser" required autofocus [ngClass]="{ 'ng-invalid ng-dirty': submitted && !principal.nomUser }" />
              <small class="ng-dirty ng-invalid" *ngIf="submitted && !principal.nomUser">Username is required.</small>
            </div>
            <div class="field">
              <label>Email Address:</label>
              <input type="text" pInputText [(ngModel)]="principal.emailUser" required autofocus [ngClass]="{ 'ng-invalid ng-dirty': submitted && !principal.emailUser }" />
              <small class="ng-dirty ng-invalid" *ngIf="submitted && !principal.emailUser">Email Address is required.</small>
            </div>
            <div class="field">
              <label>Phone Number:</label>
              <input type="number" pInputText [(ngModel)]="principal.numdetelUser" required autofocus [ngClass]="{ 'ng-invalid ng-dirty': submitted && !principal.numdetelUser }" />
              <small class="ng-dirty ng-invalid" *ngIf="submitted && !principal.numdetelUser">Phone Number is required.</small>
            </div>
          </ng-template>
          <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="getPrincipal();editProfileD=false"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="edit()"></button>
          </ng-template>
        </p-dialog>
      </div>
    </p-tabPanel>

    <!-- Onglet Modification du mot de passe -->
    <p-tabPanel header="Change Password">
      <div class="col-6">
        <div class="card profile-card">
          <form [formGroup]="form">
            <div class="profile-field">
              <div class="field-label">Password:</div>
              <div class="field-value">
                <p-password formControlName="oldpassword" [feedback]="false" [toggleMask]="true"></p-password>
              </div>
            </div>
            <div class="profile-field">
              <div class="field-label">New Password:</div>
              <div class="field-value">
                <p-password formControlName="password" [feedback]="false" [toggleMask]="true"></p-password>
              </div>
            </div>
            <div class="profile-field">
              <div class="field-label">Re-enter New Password:</div>
              <div class="field-value">
                <p-password formControlName="password2" [feedback]="false" [toggleMask]="true"></p-password>
              </div>
            </div>
            <small class="ng-dirty ng-invalid" style="color: red">{{ Message }}</small>
            <button pButton pRipple [disabled]="!form.valid" label="Change Password" (click)="changePassword()" style="margin-top: 30px"></button>
          </form>
        </div>
      </div>
    </p-tabPanel>

    <!-- Onglet Envoi d'e-mail -->
    <p-tabPanel header="Send Email">
      <div class="col-6">
        <div class="card profile-card">
          <form [formGroup]="form2">
            <div class="profile-field">
              <div class="field-label">To:</div>
              <div class="field-value">
                <input type="text" pInputText formControlName="to" />
              </div>
            </div>
            <div class="profile-field">
              <div class="field-label">Subject:</div>
              <div class="field-value">
                <input type="text" pInputText formControlName="subject" />
              </div>
            </div>
            <div class="profile-field">
              <div class="field-label">Body:</div>
              <div class="field-value">
                <textarea pInputTextarea rows="3" cols="20" formControlName="body"></textarea>
              </div>
            </div>
            <button pButton pRipple [disabled]="!form2.valid" label="Send" (click)="sendEmail()" style="margin-top: 30px"></button>
          </form>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>
</div>
