<div class="form-container">
    <h5>Créer un nouveau employé</h5>
    <form [formGroup]="formEmployee" (ngSubmit)="submit()">
        <div class="form-group">
            <label for="Nom">Nom Employé</label>
            <input formControlName="employeeFirstName" class="form-control" type="text">
            <div *ngIf="submitted && formEmployee.get('employeeFirstName')?.hasError('required')" class="invalid-feedback">
                Le nom est obligatoire.
            </div>
        </div>

        <div class="form-group">
            <label for="Prenom">Prénom</label>
            <input formControlName="employeeLastName" class="form-control" type="text">
            <div *ngIf="submitted && formEmployee.get('employeeLastName')?.hasError('required')" class="invalid-feedback">
                Le Prénom est obligatoire.
            </div>
        </div>

        <div class="form-group">
            <label for="phone">Numéro de téléphone</label>
            <input formControlName="employeePhoneNumber" class="form-control" type="text">
            <div *ngIf="submitted && formEmployee.get('employeePhoneNumber')?.hasError('required')" class="invalid-feedback">
                Le Numéro du téléphone est obligatoire.
            </div>
        </div>

        <div class="form-group">
            <label for="Department">Département</label>
            <select formControlName="departmentId" class="form-control" name="department" id="department">
                <option *ngFor="let d of listDepartments" [value]="d?.id">{{ d?.departementName }}</option>
            </select>
            <div *ngIf="submitted && formEmployee.get('departementId')?.hasError('required')" class="invalid-feedback">
                Le Département est obligatoire.
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-outline-success mt-2">Envoyer</button>
        </div>
    </form>
</div>
