<div class="grid">
  <p-toast></p-toast>
  <div class="col-12">
    <div class="card px-2">
      <p-table #dt1 [value]="UsersList" dataKey="id" [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]"
        [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['nomUser']"
      >
        <ng-template pTemplate="caption">
          <div class="flex">
            <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="min-width:15rem">
              <div class="flex align-items-center">
                User Name
                <p-columnFilter type="text" field="nomUser" display="menu"></p-columnFilter>
              </div>
            </th>
            <th style="min-width:15rem">
              <div class="flex align-items-center">
                Email
                <p-columnFilter type="text" field="emailUser" display="menu"></p-columnFilter>
              </div>
            </th>
            <th style="min-width:10rem">
              <div class="flex align-items-center">
                Role
              </div>
            </th>
            <th style="min-width:10rem">
              <div class="flex align-items-center">
                Current Department
              </div>
            </th>
            <th style="min-width:10rem">
              <div class="flex align-items-center">
                Phone Number
              </div>
            </th>
            <th style="min-width:10rem">
              <div class="flex align-items-center">
                Delete User
              </div>
            </th>
            <th style="min-width:10rem">
              <div class="flex align-items-center">
                Assign to Department
              </div>
            </th>
            <th style="min-width:10rem">
              <div class="flex align-items-center">
                Number of Days
              </div>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
          <tr>
            <td>
              {{ user.nomUser }}
            </td>
            <td>
              {{ user.emailUser }}
            </td>
            <td>
              {{ user.role }}
            </td>
            <td *ngIf="user.role.toLowerCase() === 'employee'">
              {{ user.departement ? user.departement.departementName : 'Non affecté' }}
            </td>
            <td *ngIf="user.role.toLowerCase() !== 'employee'" >
            </td>
            <td>
              {{ user.numdetelUser }}
            </td>
            <td>
              <p-button icon="pi pi-trash" styleClass="p-button-danger" (onClick)="deleteuser(user.idUser)"></p-button>
            </td>
            <td *ngIf="user.role.toLowerCase() === 'employee'" class="assign-department-cell">
              <div class="department-selector" [class.open]="isDropdownOpen" (click)="toggleDropdown(user)">
                <span class="dropdown-arrow"></span>
                <select
                  [(ngModel)]="user.selectedDepartmentId"
                  (change)="assignUserToDepartment(user)"
                >
                  <option *ngFor="let departement of departements" [value]="departement.id">{{ departement.departementName }}</option>
                </select>
              </div>
            </td>
            
            <td *ngIf="user.role.toLowerCase() === 'employee'">
              {{ user.daysSinceCreation }} days
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8">No User found.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <p-dialog [(visible)]="deleteD" [closable]="false" [style]="{width: '450px'}" header="Delete" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
      <p>Are you sure you want to delete this User</p>
    </ng-template>
    <ng-template pTemplate="footer">
      <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="deleteD=false"></button>
      <button pButton pRipple label="Delete" icon="pi pi-check" class="p-button-text" (click)="ConfirmDelete()"></button>
    </ng-template>
  </p-dialog>
</div>